body {
	background-color: #9B8F89;
}

.calcBody {
	width: 250px;
	background-color: black;
	margin: 50px auto;
	border-radius: 10px;
	padding: 5px 15px 20px 15px;
}

h2 {
	color: white;
	text-align: center;
	font-family: Tangerine;
}

#screen {
	width: 98%;
	height: 55px;
	background-color: #80ba80;
	margin: 0 auto;
	margin-bottom: 30px;
	border-radius: 5px;
	text-align: right;
	font-weight: bold;
	font-size: 45px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.keys {
	display: inline;
	width: 19.8%;
	height: 35px;
	margin: 5px;
	border-radius: 10px;
}

.zero {
	width: 45.2%;
}

.operators {
	background-color: orange;
}

.equals {
	background-color: green;
}

.clear {
	background-color: red;
}